@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800;900&display=swap');

*{
    padding:0;
    margin:0;
}
body{
    background-color: black;
    height:480vh;
}
.bg{
    background-image: url("background.jpg");
    width:100%;
    height:130vh;
}
.box{
    height:130vh;
    width:100%;
    background-color: rgba(0, 0, 0, 0.65);
}
nav img{
    width:270px;
}
nav{
    max-width: 90vw;
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: auto;
    margin-top:-30px;
}
.btn{
    font-size: 16px;
    font-weight: 600;
    background-color:#e50914;
    color: white;
    border: none;
    padding: 7px 17px;
    border-radius: 4px;
    cursor: pointer;
}
.lang{
    font-size: 14px;
    padding:6px 16px;
    border-radius: 4px;
    background:transparent;
    color: white;
    border:2px solid gray;
    margin-right: 15px;
}
.s{
    color: white;
}
.content{
    max-width: 950px;
    margin: 0 auto;
    text-align: center;
    padding-top: 180px;
    color: white;
}
.s1, .s2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 55px;
    font-weight: 900;
    line-height: 68px;
}
.s3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 450;
    margin-top: 20px;
} 
.s4 {
    font-size: 20px;
    margin-top: 30px;
    font-weight: 400;
}
.box2{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
.box2 input{
    width: 420px;
    padding: 18px;
    font-size: 16px;
    background: rgba(0,0,0,0.6);
    border: 1px solid gray;
    color: white;
    border-radius: 4px;
} 
.btn2{
    font-size: 24px;
    padding: 16px 32px;
    margin-left: 10px;
    font-weight: 600;
}
.arrow {
    font-size: 26px;
    margin-left: 10px;
}

.line{
    width: 100%;
    height:30vh;
    background-color: white;
    border:6px solid red ;
    border-top-right-radius: 300%;
    border-top-left-radius: 300%;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    margin-top: -90px;
    position: relative;
    background: radial-gradient(50% 500% at 50% -420%, rgba(64, 97, 231, 0.4) 80%, rgba(0, 0, 0, 0.1) 100%), black;
}
.box3{
    max-width: 75vw;
    background:linear-gradient(93deg, #661d3e, #280a2b);
    height:20vh;
    margin: auto;
    border-radius:13px;
    color: white;
}
.p{
    margin-left: 40px;
    font-family: 'Montserrat', sans-serif;
}
.p1{
    padding-top: 30px;
    font-size: 30px;
    font-weight: 520;
}
.p2{
    font-size: 20px;
    color: rgb(177, 173, 173);
    margin-top: 15px;
}

.h1 {
    color: white;
    margin: 90px 187px;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}

.box4 {
    max-width: 1200px;
    margin: 60px auto;
    display: flex;
    justify-content: center;
    gap: 16px;
}

.b {
    flex: 1;
    min-height: 280px;
    padding: 24px;
    border-radius: 16px;
    background: linear-gradient(149deg, #192247 0%, #210e17 99.08%);
    color: white;
    display: flex;
    flex-direction: column;
    margin-left: 23px;
}

.b p {
    font-family: 'Montserrat', sans-serif;
}

.p111, .p222, .p333, .p444 {
    color: white;
    font-size: 24px;
    font-weight: 600;
    margin: 0 0 16px 0;
}

.p11, .p22, .p33, .p44 {
    margin: 0;
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    line-height: 1.5;
}

.b svg {
    margin-top: auto;
    align-self: flex-end;
    width: 72px;
    height: 72px;
    flex-shrink: 0;
}
.f1{
    margin-top: auto;
}
.hob{
    max-width: 76vw;
    height: 13vh;
    color: white;
    background-color: rgb(41, 40, 40);
    margin: auto;
    margin-left: 188px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.hob:hover{
    background-color: rgb(67,65,65);
}
p{
    font-family: 'Montserrat', sans-serif;
    margin-left: 25px;
    font-size: 25px;
}
span{
    margin-right: 25px;
    font-size: 60px;
    font-weight: 100;
}
.f11 p{
    color: white;
    margin-left:470px;
    margin-top: 80px;
    font-size: 15px
}
.foot text{
    margin: 50px;
}
.foot input{
    padding-right: 130px;
    margin-top:-10px;
}
.foot3{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: rgb(155, 150, 150);
    margin-top: 100px;
    margin-left: 150px;
}
.foot3 a{
    font-size: 15px;
    color: rgb(155, 150, 150);
}
.foot4{
    display: grid;
    grid-template-columns: 150px 140px 150px 100px;
    grid-template-rows: 40px 40px 40px 40px;
    margin-top: 80px;
    margin-left: 150px;
    row-gap: 5px;
    column-gap: 140px;
}
.grid a{
    color: rgb(155, 150, 150);
}
.foot5{
    margin-left: 150px;
    margin-top: 50px;
}
option{
    color: black;
}
.f22 p{
    color: rgb(155, 150, 150);
    font-size: 15px;
    margin-top: 60px;
    margin-left: 150px;
}
.meow2{
    font-size: 15px;
}


/* For tablets and small laptops (under 1024px) */
@media (max-width: 1024px) {
    .s1, .s2 {
        font-size: 45px;
        line-height: 50px;
    }
}

/* For mobile phones (under 600px) */
@media (max-width: 600px) {
    .s1, .s2 {
        font-size: 32px; /* Smaller text for phones */
        line-height: 36px;
    }
    
    .box2 {
        flex-direction: column; /* Stack Email input and Button vertically */
        align-items: center;
        gap: 10px;
    }

    .box2 input {
        width: 90%; /* Make input full width on phone */
    }

    .btn2 {
        width: 90%;
        margin-left: 0;
    }
}